/* ===== GLOBAL ===== */
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* ===== HEADER ===== */
header {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

nav {
  display: flex;
  gap: 12px;
}

nav a {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
}

nav a.active {
  background: #eee;
}

/* ===== HERO ===== */
.hero {
  padding: 60px 0;
  background: #f9f9f9;
}

.hero h1 {
  margin-bottom: 6px;
}

.banner-placeholder {
  width: 100%;
  height: 300px;
  background: #eaeaea;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
}

/* ===== OUR PROFILE ===== */
.headquarter {
  padding: 60px 0;
}

.headquarter h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* CONTAINER UTAMA HQ */
.locations {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

/* ITEM TIAP KOTA */
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LINGKARAN GAMBAR */
.circle {
  width: 110px;
  height: 110px;

  border-radius: 50%;
  overflow: hidden;

  border: 2px solid #ccc;
  background: #f5f5f5;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAMA KOTA */
.location p {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
}

/* ===== ABOUT COMPANY ===== */
.about-company {
  padding: 50px 0;
  background: #f9f9f9;
  text-align: center;
}

.about-company p {
  max-width: 900px;
  margin: 10px auto;
}

/* ===== VISION MISSION ===== */
.vision-mission {
  padding: 50px 0;
}

.vm-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.vm-box {
  border: 1px solid #ddd;
  padding: 15px;
  width: 400px;
  background: white;
}

.vm-box h3 {
  margin-bottom: 8px;
}

/* ===== MESSAGE ===== */
.message-us {
  padding: 50px 0;
  background: #f9f9f9;
}

.message-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-group {
  margin-bottom: 12px;
}

.radio-group {
  display: flex;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
}

.submit-btn {
  width: 100%;
  padding: 8px;
}

/* ===== RESULT ===== */
.info-box {
  border: 1px solid #ddd;
  padding: 15px;
  background: white;
}

/* ===== FOOTER ===== */
footer {
  text-align: right;
  padding: 10px 0;
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

  .locations {
    flex-direction: column;
    gap: 30px;
  }

  .vm-wrapper {
    flex-direction: column;
  }

  .message-content {
    grid-template-columns: 1fr;
  }
}
